async-lru
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
lyricsgenius
motor
numpy
pillow==9.5.0
psutil
pykeyboard
py-tgcalls==2.0.6
ntgcalls==1.2.3
python-dotenv
pyyaml
speedtest-cli
spotipy
requests
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
wget
pornhub-api==0.3.0
telegraph
git+https://github.com/yt-dlp/yt-dlp.git@master
py-yt-search>=0.2
pyrogram
